
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/assets/img/profile-img.jpg" alt="" id="roundedPortrait" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">Dragana Jokić</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#resume"><i class="bx bx-file-blank"></i> <span>Biografija</span></a></li>
          <li><a href="/painting.html"><i class="bx bx-book-content"></i> Slikarstvo</a></li>
          <li><a href="/projects.html"><i class="bx bx-book-content"></i> Arhitektura</a></li>
          <li><a href="/other.html"><i class="bx bx-book-content"></i> Ostalo</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->