
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        
        <h1 class="text-light"><a href="/">Dragana Jokić</a></h1>

      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/index.html#top-bio"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/#resume"><i class="bx bx-file-blank"></i> <span>Biografija</span></a></li>
          <li><a href="/painting.html"><i class="bx bx-book-content"></i> Slikarstvo</a></li>
          <li><a href="/projects.html"><i class="bx bx-book-content"></i> Arhitektura</a></li>
          <li><a href="/other.html"><i class="bx bx-book-content"></i> Ostalo</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->