{{> head}}
{{> header}}


  <main id="main" class="biography">
   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2 class="main-title">Biografija</h2>
      </div>

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up">
         
                     
          <div class="profileImg"><img src="/assets/img/profile-img.jpg" alt="" id="roundedPortrait" class="img-fluid"></div
          


        <div class="col-lg-6" data-aos="fade-up">
         
          
         
          <h3 class="resume-title">Obrazovanje</h3>            
            <div id="education">
                {{#marked data.fields.education}}{{/marked}}              
            </div>   
          </div>         

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Radno iskustvo</h3>
          <div id="expirience">
            {{#marked data.fields.expirience}}{{/marked}}
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Slikarstvo</h3>
          <div id="painting">
            {{#marked data.fields.painting}}{{/marked}}
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Arhitektura</h3>
          <div id="architecture">
            {{#marked data.fields.arhitektura}}{{/marked}}
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Priznanja</h3>
          <div id="awards">
            {{#marked data.fields.awards}}{{/marked}}
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Aktivnosti</h3>
          <div id="activities">
            {{#marked data.fields.activities}}{{/marked}}
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Resume Section -->



</main><!-- End #main -->

{{> footer}}