{{> head}}
{{> header}}


  <main id="main" class="biography">
   <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2 class="main-title">Biografija</h2>
        </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="profileImg">
            <img src="/assets/img/profile-img2.jpg" alt="Dragana Jokic picture" id="roundedPortrait" class="img-fluid" />
          </div>
          </div><!-- End col lg 6 -->


        <div class="col-lg-6">
                        
            <h3 data-toggle="collapse" class="bio-title" href="#education" role="button" aria-expanded="false" aria-controls="collapseExample">Obrazovanje</h3>            
            <div id="education" class="collapse">
                {{#marked data.fields.education}}{{/marked}}              
            </div>  
  
            <h3 data-toggle="collapse"  class="bio-title" href="#expirience" role="button" aria-expanded="false" aria-controls="collapseExample">Radno iskustvo</h3>            
            <div id="expirience" class="collapse">
                {{#marked data.fields.expirience}}{{/marked}}              
            </div>  
  
            <h3 data-toggle="collapse" class="bio-title" href="#painting" role="button" aria-expanded="false" aria-controls="collapseExample">SLikarstvo</h3>            
            <div id="painting" class="collapse">
                {{#marked data.fields.painting}}{{/marked}}              
            </div>  
  
            <h3 data-toggle="collapse" class="bio-title" href="#architecture" role="button" aria-expanded="false" aria-controls="collapseExample">Arhitektura</h3>            
            <div id="architecture" class="collapse">
                {{#marked data.fields.arhitektura}}{{/marked}}              
            </div>  
  
            <h3 data-toggle="collapse" class="bio-title" href="#awards" role="button" aria-expanded="false" aria-controls="collapseExample">Priznanja i nagrade</h3>            
            <div id="awards" class="collapse">
                {{#marked data.fields.awards}}{{/marked}}              
            </div>            
          
            <h3 data-toggle="collapse" class="bio-title" href="#activities" role="button" aria-expanded="false" aria-controls="collapseExample">Ostale aktivnosti</h3>            
            <div id="activities" class="collapse">
                {{#marked data.fields.activities}}{{/marked}}              
            </div> 
        </div><!-- End col lg 6 -->

        </div><!-- End Row -->

        <div class="row mtop">
          <div class="col-lg-6">
          <div class="bio-srb">
            <h3 class="main-bio-title toggle-srb">Biografija</h3>
            <div class="bio-srb-hide">
            <p>Dragana Jokić rođena u Beogradu, doktorirala je iz oblasti umetnosti, na Fakultetu primenjenih
               umetnosti, Univerziteta umetnosti u Beogradu. Magistrirala je i diplomirala iz oblasti
                slikarstva na Fakultetu likovnih umetnosti, Univerziteta umetnosti u Beogradu. 
                Diplomirala na Arhitektonskom fakultetu Beogradskog univerziteta.</p>

            <p>Realizovala je 12 samostalnih izložbi i učestvovala na preko 40 grupnih 
              zložbi iz oblasti slikarstva. U projektima i realizacijama svojih projekata,
               u okviru dizajna enterijera bavila se implementacijom zidnog slikarstva
                u enterijeru, dizajnom nameštaja i rasvete.</p>
                
            <p>Autor je preko sto enterijera i drugih arhitektonskih celina. Dobitnik je
               nekoliko nagrada iz oblasti slikarstva i arhitekture.</p>
             
            <p>Autor knjige Arhitektura, edicija Saznaj i probaj, izdavač Kreativni centar, 
              Beograd, prevedene na portugalski i španski jezik.</p>
             
            <p>U statusu samostalnog umetnika od 1991.godine, član ULUS-a od 1993.godine. 
              Živi i radi u Beogradu.</p>
            </div>
          </div><!-- End Bio Srb -->         
          
        </div><!-- End Col6 -->  
        <div class="col-lg-6">
                 
          <div class="bio-srb">
            <h3 class="main-bio-title">English</h3>
            <p>Dragana Jokic, born in Belgrade, earned a doctoral degree in arts at the School
               of Applied Arts of the University of Arts in Belgrade. 
               She earned her bachelor’s and master’s degree in painting at the Faculty
                of Fine Arts of the University of Arts in Belgrade. 
                She graduated from the School of Architecture of the University of Belgrade.</p>

              <p>She had 12 solo exhibitions and participated in over 40 group exhibitions in the
                 field of painting. Within the interior design projects and realizations of her own projects, she engaged in the implementation 
                of mural indoor painting as well as furniture and lighting design.</p>
              
              <p>She designed over a hundred interiors and other architectural units.
                 She has won several awards in the fields of painting and architecture.</p>
              
              <p>Dragana wrote the book Architecture, edition Find Out and Try, published by Kreativni centar, Belgrade, and translated into Portuguese and Spanish.</p>
                            
              <p>She has been an independent artist since 1991, and a member of the Serbian Association of Fine Artists (ULUS) since 1993.</p>
                            
              <p>She lives and works in Belgrade.</p>
              
              </p>
          </div><!-- End Bio srb -->  
      
        </div><!-- End Col6 -->  
      </div><!-- End Row -->

    </div><!-- End Container -->
  </section><!-- End Resume Section -->



</main><!-- End #main -->

{{> footer}}