{{> head}}
{{> header}}


  <main id="main">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" 
  style="background-image:url({{ data.fields.landingPainting.fields.file.url }}?fm=webp)">
    <div class="hero-container" data-aos="fade-in">
     <div id="contact-data">
         <div class="inner">
        <h3>Kontakt</h3>
        <dl>
            <dt>email</dt>
            <dd>ars@draganajokic.rs</dd>
            <dt>email</dt>
            <dd>draganajokic.bg@gmail.com</dd>
            <dt>telefon</dt>
            <dd>3443432324</dd>

        </dl>
    </div>
     </div>
           
    </div>
  </section><!-- End Hero -->
</main><!-- End #main -->

{{> footer}}