{{> head}}
{{> header}}


    
  <main id="main">
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" 
  style="background:linear-gradient(0deg, rgba(122, 117, 116, 0.5), rgba(122, 117, 116, 0.7)),url({{ data.fields.landingPainting.fields.file.url }}?fm=webp)">
    <div class="hero-container " data-aos="fade-in">
     <div id="contact-data">
         <div class="inner">
        
        <dl>
            <dt>email</dt>
            <dd>ars@draganajokic.rs</dd>
            <dt>email</dt>
            <dd>draganajokic.bg@gmail.com</dd>
            <dt>telefon</dt>
            <dd>3443432324</dd>

        </dl>
    </div>
     </div>
           
    </div>
  </section><!-- End Hero -->
</main><!-- End #main -->


{{> footer}}