{{> head}}
{{> header}}


    
  <main id="main">
    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" 
  style="background:linear-gradient(0deg, rgba(230, 230, 230, 0.5), rgba(230, 230, 230, 0.5)),url({{ data.fields.landingPainting.fields.file.url }}?fm=jpg&fl=progressive)">
    <div class="contact-container " data-aos="fade-in">

      <h2 class="contact-title">Kontakt</h1>

      <div class="contact-item">
        <span class="contact-span">email</span>
        draganajokic.bg@gmail.com <br/>
        <span class="contact-span">email</span>
        ars@draganajokic.rs
      </div>



      <div class="contact-item">
        <span class="contact-span">telefon</span>
        (+381) 063 368-638
      </div>

      <div class="contact-item">
        <a href="https://www.instagram.com/draganajokicbg/" class="black-link"><i class="bx bxl-instagram"></i> Instagram</a>
      </div>
         
      
    </div>
  </section><!-- End Hero -->
</main><!-- End #main -->


{{> footer}}