{{> head}}
{{> header}}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ data.fields.title  }}</h2>
          <ol>
            <li><a href="/">Početna</a></li>
            <li>Slikarstvo</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>{{ data.fields.title  }}</h2>
      <h3>{{ data.fields.year }}</h3>
      <p>{{ data.fields.description }}</p>
    </div>



    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      {{#each data.fields.picture }}
      
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="{{ fields.image.fields.file.url }}?w=400&h=300" loading="lazy" class="img-fluid" alt="">
          <div class="portfolio-links">
            <a href="{{ fields.image.fields.file.url }}" 
              data-gall="portfolioGallery" 
              class="venobox" 
              title="{{ fields.image.fields.title }}">
                <i class="bx bx-plus"></i>
              </a>
           </div>
        </div>
      </div>
      {{/each }}

    </div>

    <div class="section-title">
     
      <div data-markdown>{{ data.fields.additional }}</div>
    </div>

  </div>
</section><!-- End Portfolio Section -->

</main><!-- End #main -->


{{> footer}}