{{> head}}
{{> header}}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ data.fields.title }}</h2>
          <ol>
            <li><a href="/">Početna</a></li>
            <li>Ostali projekti</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Ostali projekti</h2>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {{#each data.entries}}
            {{#unless fields.architecture}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">

           
                <a href="/project/{{ fields.slug }}.html" title="galerija">
                <img src="{{ fields.cover.fields.file.url }}" class="img-fluid lightbox" alt="">
                </a>                
                         
              </div>
              <div class="titleDiv">{{ fields.title }}, {{ fields.year }}</div>
        
            </div>
         
        
          {{/unless}}
          {{/each}}

        </div>
    </div>

  </div>
</section><!-- End Portfolio Section -->

</main><!-- End #main -->

{{> footer}}